<main class="md:mx-12 mx-4 mt-2">
  <div class="flex justify-between">
    <h1 class=" text-3xl font-semibold mt-2">Proyectores</h1>
    <div class="flex justify-end ">
      <button (click)="changeView(true)" mat-icon-button><mat-icon>grid_view</mat-icon></button>
      <button (click)="changeView(false)" mat-icon-button><mat-icon>format_list_bulleted</mat-icon></button>
    </div>
  </div>
  <div class="my-8">
    <app-mensaje *ngIf="mensaje" (visible)="mensaje = null" tipo="{{mensaje.tipo}}"
      contenido="{{mensaje.contenido}}"></app-mensaje>
    <div class="flex justify-between">
      <button mat-raised-button (click)="agregarProyector()" color="primary">Agregar proyector</button>
      <button mat-raised-button (click)="guardar()" color="primary" [disabled]="!(proyCambiados.length > 0)">Guardar
        cambios</button>
    </div>



    <app-grid *ngIf="grid" [editable]="true" (editar)="editarProyector($event)" (cambiados)="agregarCambio($event)"
      [proyectores]="proyectores"></app-grid>
    <app-tabla *ngIf="!grid" [dataSource]="proyectores" [displayedColumns]="columnasDisplay"
      (itemAEditar)="editarProyector($event)" (cambiados)="agregarCambio($event)"></app-tabla>


    <div *ngIf="loaderService.isLoading | async" class="flex w-full h-[72vh] justify-center items-center">
      <mat-spinner class=""></mat-spinner>
    </div>

  </div>
</main>