<form [formGroup]="this.datosInput.formGroup" (ngSubmit)="guardar()">

  <h1 mat-dialog-title class="">{{datosInput.title}}</h1>
  <div mat-dialog-content class="flex flex-col w-full gap-4">
    <app-mensaje *ngIf="mensaje" (visible)="mensaje = null" tipo="{{mensaje.tipo}}"
      contenido="{{mensaje.contenido}}"></app-mensaje>
    <div class="grid grid-cols-7 md:grid-cols-10 lg:grid-cols-12 gap-4">
      <mat-form-field class="col-span-5 md:col-span-8 lg:col-span-11">
        <mat-label>Nombre</mat-label>
        <input required="true" matInput formControlName="nombre">
      </mat-form-field>
      <div class="flex flex-col justify-center items-center place-self-start">
        <mat-label>Estatus</mat-label>
        <mat-slide-toggle class="text-xl" formControlName="estatus"></mat-slide-toggle>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Número de serie</mat-label>
      <input required="true" matInput formControlName="serie">
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="flex gap-4 justify-end mr-4">
    <button mat-raised-button type="submit" color="primary">Confirmar</button>
    <a (click)="closeModal()" mat-stroked-button color="primary">Cerrar</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
</form>